apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: {{ namespace }}
  labels:
    app: nginx
spec:
  selector:
    app: nginx
  type: NodePort
  ports:
    - name: port-http
      protocol: TCP
      port: 30080
      targetPort: 80
      nodePort: 30080